/* Orden index */
.listado-movie-index-populares {
    display: flex;
    list-style: none;
}

.listado-movies-index-top-rated {
    display: flex;
    list-style: none;
}

.listado-tv-index-popular {
    display: flex;
    list-style: none;
}

.listado-tv-index-top-rated {
    display: flex;
    list-style: none;
}

.img-index {
    max-width: 201px;
    padding: 20px;
}


body {
    background-image: url(../img/background.jpg);
}

h2,
h1,
p,
a {
    color: white;
}

.Pelis {
    font-family: 'Orbitron', sans-serif;
}

/*Favoritos*/





/*detail-movie*/
.subtitulo-movies{
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;

}

.detallespelisTITULO {
    font-family: 'Orbitron', sans-serif;
    margin-left: 13px;
}

.detallespelisIMG {
    display: flex;
}

.detallespelisSINOPSIS {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.detallespelisFECHA {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.detallespelisRATING {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}
.detallespelisDURACION{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.detallespelisGENEROS{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    list-style: none;
}

.detallespelis-favoritos {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}


.detallespelis-favoritos-serie {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 15px;
}

/*header*/

.BingleTon {
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    display: flex;
    font-size: 30px;
    margin-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.header form {
    margin-left: 32%;
}

.logo {
    max-width: 50px;
    margin-top: 50%;

}

.ul-nav {
    display: flex;
    list-style: none;
    padding: 20px;
    margin-right: auto;
}

.a-nav {

    padding: 5px;
    font-family: 'Orbitron', sans-serif;
}

.buscador {
    width: 200px;
    height: 35px;
    font-size: 20px;
    color: #000;
    outline: 1px solid silver;
    border-radius: 30px;
    font-family: 'Quantico', sans-serif;

}

/*detail-series*/

.subtitulo-series{
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
}


.detallesseries-favoritos {
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}


.detallesSeriesTITULO{
    font-family: 'Quantico', sans-serif;
    font-size: 40px;

}

.detallesSeriesSINOPSIS{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.detallesSeriesFECHA{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.detallesSeriesRATING{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}
.detallesSeriesGENEROS{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    list-style: none;
}


/*GENEROS*/
.Genres {
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.titulosgeneros{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    
}

/*FOOTER*/
footer {
    border-top: solid brown;
    display: flex;
}
.nombres-footer {
    padding-left:66%;
    list-style: none;
    color: grey;
}