
.img-index {
    max-width: 201px;
    padding: 20px;
   
    
    
}

.listado-index {
    display: flex;
    list-style: none;
}


a{
    color: black;
    text-decoration: none;
}

body{
    background-color: black;
}

h2,h1,p,a{
    color: white;
}
.Pelis{
    font-family: 'Orbitron', sans-serif;
}

/*Favoritos*/

.imgfav{
    padding: 15px;
    max-width: 90%;
}

.favfav{
    font-family: 'Orbitron', sans-serif;
    display: flex;
}

/*detail-movie*/

.pelititulodetalle{
    font-family: 'Orbitron', sans-serif;
    margin-left: 13px;
}

.detallespelis{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.cajapelis{
    display: flex;
}

.cajapelisD{
    display: inline-block;

}

.imagenpelis{
    margin: 10px;
    max-width: 250px;
    font-family: 'Orbitron', sans-serif;
}



.detallespelis-favoritos{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}


.detallespelis-favoritos-serie{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
   margin-bottom: 10px;
    margin-left: 15px;
}

/*header*/



.BingleTon{
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    display: flex;
    font-size: 30px;
}

.header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;



}
.header form{
    margin-left: 32%;
}
.logo {
    max-width: 50px;

}

.ul-nav {
    display: flex;
    list-style: none;
    padding: 20px;
    margin-right: auto;
}

.a-nav{

    padding: 5px;
    font-family: 'Orbitron', sans-serif;
}

.buscador{
    width: 200px; height: 35px;  font-size: 20px; color: #000; outline: 1px solid silver; border-radius: 30px;
    font-family: 'Quantico', sans-serif;

}
/*detail-series*/

.seriestitulodetalle{
    font-family: 'Orbitron', sans-serif;
    margin-left: 13px;
}

.detallesseries{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.cajaseries{
    display: flex;
}

.cajaseriesD{
    display: inline-block;

}

.imagenseries{
    margin: 10px;
    max-width: 250px;
    font-family: 'Orbitron', sans-serif;
}


.detallesseries-favoritos{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}

footer {
    border-top: solid brown;
    display: flex;
}
.fnombres{
   
   text-align: right;
   display: block;
}

.caja-footer{
    display: flex;
    padding-top: 25px;
}

.nombres-footer{
 padding-left: 870px;
}

.container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.caja {
    padding: 0px 50px;
    text-align: center;
}

.generos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.caja h2 {
    color: red
}

.titulosgeneros {
    color: red;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.detalles {
    display: flex;
}

.textocomedia {
    display: flex;
    justify-content: center;
    text-align: center;
}