.img-index {
    max-width: 201px;
    padding: 20px;
}

.listado-index {
    display: flex;
    list-style: none;
}

.logo {
    max-width: 50px;

}

.ul-nav {
    display: flex;
    list-style: none;
}

.a-nav{

    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
}