.img-index {
    max-width: 201px;
    padding: 20px;
}

.listado-index {
    display: flex;
    list-style: none;
}

.logo {
    max-width: 50px;

}

.ul-nav {
    display: flex;
    list-style: none;
    
}

.a-nav{

    padding: 5px;
    font-family: 'Orbitron', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background-color: black;
}

h2,h1,p,a{
    color: white;
}
.Pelis{
    font-family: 'Orbitron', sans-serif;
}

.FAV{
    color: white;
    font-family: 'Orbitron', sans-serif;
}


/*detail-movie*/

.pelititulodetalle{
    font-family: 'Orbitron', sans-serif;
    margin-left: 13px;
}

.detallespelis{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.cajapelis{
    display: flex;
}

.cajapelisD{
    display: inline-block;

}

.imagenpelis{
    margin: 10px;
    max-width: 250px;
    font-family: 'Orbitron', sans-serif;
}

.a-favoritos{
    border-style: dotted;
    border-radius: 15%;
    padding: 10px;
    margin-top: 500000000000000px;
}

.detallespelis-favoritos{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}

/*header*/


.buscador{
    width: 200px; height: 35px;  font-size: 20px; color: #000; outline: 1px solid silver; border-radius: 30px;
    font-family: 'Quantico', sans-serif;
}


.buscador input{ width: 240px; height: 40px; padding: 0 20px; font-size: 18px; color: #000; outline: 1px solid silver; border-radius: 30px; }

.caja-logo-buscador{
display: flex;
}

/*detail-series*/


.seriestitulodetalle{
    font-family: 'Orbitron', sans-serif;
    margin-left: 13px;
}

.detallesseries{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
}

.cajaseries{
    display: flex;
}

.cajaseriesD{
    display: inline-block;

}

.imagenseries{
    margin: 10px;
    max-width: 250px;
    font-family: 'Orbitron', sans-serif;
}

.a-favoritosseries{
    border-style: dotted;
    border-radius: 15%;
    padding: 10px;
    margin-top: 500000000000000px;
}

.detallesseries-favoritos{
    font-family: 'Quantico', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
}

footer {
    border-top: solid brown;
    display: flex;
}
.fnombres{
   
   text-align: right;
   display: block;
}

.caja-footer{
    display: flex;
}